<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <title>{% block title %}{% endblock %}Home</title>
</head>
<body class="container-fluid">
  <div class="header">
    <header>
      Online Music Academy
    </header>
    <nav class="navbar">
      <a href="#"><span>About</span></a>
      <a href="#"><span>Services</span></a>
      <a href="#"><span>Contact</span></a>
    </nav>
    <div class="form">
      <form class="form-control" action="#" method="get">
        <input placeholder="Search Academy"  type="search" name="" id="">
      </form>
      <a href="/login">
        <span>Login</span>
      </a>
      <a href="/signup">
        <span>SignUp</span>
      </a>
    </div>
  </div>
  <div class="landing">{% block landing %}{% endblock %}</div>
  <!--   - Welcome message: "Learn Music. Play Better. Compose Freely."  
  - CTA button: “Start Learning Now” / “Join a Free Class”
 -->
</body>